* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: #ffffff;
}

a:hover {
  color: #bfccda;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  padding: 1em;

  .title {
    border-bottom: 1px solid #eee;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0.5em;
    h4 {
      font-weight: 400;
    }

    .rhs {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

nav {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  border: 1px solid #eee;
  padding: 0.5em;
  border-radius: 0.5em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  overflow: auto;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
    padding: 1em;
    background-color: #eee;
    border-bottom: 2px solid #007bff;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
  }

  a {
    color: #007bff;
  }

  a:hover {
    color: #0056b3;
  }
}

.section-content {
  padding: 1em;
  p {
    margin-bottom: 0.5rem;
  }

  .sketch-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 1em;

    .sketch {
      text-align: center;
      img {
        max-width: 40rem;
      }
    }
  }

  /* img {
    max-width: 100%;
    margin-bottom: 0.25rem;
    width: 100%;
  }
  .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    img {
      margin-bottom: 0;
      width: unset;
    }
  }
  .images-nowrap {
    display: block;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    img {
      width: 100%;
      min-width: 15em;
      max-width: 40em;
    }
    *:last-child {
      margin-left: 0.5em;
    }
  } */
  small {
    display: block;
  }
  ul {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}

#gui {
  .section-content {
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      grid-gap: 1em;
      img {
        width: 100%;
      }
    }
  }
}

#discovery {
  .section-content {
    img {
      max-width: 100%;
      margin-bottom: 0.25rem;
      width: 100%;
    }
    .disc1 {
      border: 1px solid #cccccc;
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1em;
      padding: 1em;
      margin-bottom: 1em;
      img {
        flex-grow: 1;
      }
      p {
        min-width: 30em;
      }
    }
    .disc2 {
      border: 1px solid #cccccc;
      padding: 1em;
      margin-bottom: 1em;
      width: 100%;
      .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
      }
      img {
        width: 100%;
      }
      /* p {
        min-width: 30em;
        margin-left: 1em;
      } */
    }

    .disc3 {
      border: 1px solid #cccccc;
      padding: 1em;
      margin-bottom: 1em;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;

      img {
        width: 100%;
      }
    }
  }
}

#video {
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      width: 80%;
      margin: 1em auto;
    }
  }
}
